<div class="about-section">
  <div class="about-box">
    <h2 class="text-center">About Me</h2>
    <p class="about-intro about-text">
      I’m a recent graduate with a Master’s in Technology from Eastern Illinois University,<br> Worked as an Associate Software Engineer (Full Stack Web Developer) for 2 years at OSI Digital.
    </p>

    <ul class="about-bullets">
      <li>Skilled in Angular, Node.js, Java and SQL</li>
      <li>Experienced in building scalable, efficient web applications</li>
      <li>Strong understanding of Agile methodologies and Git</li>
      <li>Comfortable working across front-end back-end and database layers</li>
    </ul>
  </div>
</div>
