<div class="about-section">
  <div class="about-box">
    <h2 class="text-center">About Me</h2>
    <br>
    <p class="about-intro about-text">
      I’m a recent graduate with a Master’s in Technology from Eastern Illinois University,<br> Full Stack Developer with 3.5+ years of experience in building scalable web applications with strong responsive, user-frienldy Interface.
    </p>

    <ul class="about-bullets">


         
      <!-- <li>Full Stack Developer with 3.5+ years of experience building scalable web applications with strong responsive User Interface (UI).</li> -->
      <li>Skilled in Node.js, Express.js, Angular, Java, Spring Boot MySQL, HTML5, CSS3, Bootstrap and SASS.</li>
      <li>Proficient in responsive Single Page Applications (SPAs). Orchestrated more than 75+ REST APIs.</li>
      <li>Experienced in mentoring teams to deliver high-quality code through code reviews, achieving a 30% reduction in bugs using Git workflows. </li>
    </ul>
  </div>
</div>
