<section id="experience" class="fullscreen-section">
  <div class="experience-container">

    <!-- <h2 class="section-heading">Experience</h2> -->

    <div id="experienceCarousel" class="carousel slide">
      <div class="carousel-inner">

        <!-- Slide 1 -->
        <div class="carousel-item active">
          <div class="experience-box">
            <h4>Technical Assistant – Dining Services</h4>
            <p><strong>Sep 2023 – May 2025 | EIU</strong></p>
            <p>
              Developed language translator using Angular and Node.js, translated company policies and standard
              operating procedures
              into different languages, enhancing training and communication for 80% of the student workforce
              (approximately 50 students) at the University Food Court
            </p>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item">
          <div class="experience-box">
            <h5> Project 1: Currency Exchange Platform </h5>
            <p><strong>Tech Stack:</strong> Angular, Java, SQL</p>
            <p> Built for real-time global currency conversions using Angular 14 and Java with Spring Boot, <br>
              Devised reusable Angular 14 services and components to consume REST APIs
              <br> Highly responsive and introduced Lazy loading and reduced initial load time
            </p>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item">
          <div class="experience-box">
            <h4> Project 2: Q&A platform </h4>
            <p><strong>Tech Stack:</strong> Angular, NodeJs, SQL</p>
            <p> Developed an interactive subscription-based platform with Role-Based Access Control (seeker, provider,
              validator).
              <!-- <br>Integrating REST APIs with reusable components to support the bounty-based rewards model. -->
              <br>Implemented Progressive Web App (PWA) features, enabling offline access and push notifications.
              <br> Engineered secure role-based authentication using JWT tokens and Express.js middleware, leveraging
              NPM packages (bcryptjs, jsonwebtoken, cors, dotenv) reducing unauthorized access attempts.
          </div>
        </div>

        <!-- Slide 4 -->
        <div class="carousel-item">
          <div class="experience-box">
            <h4>Volunteer – NSS (National Service Scheme)</h4>
            <p>
              Volunteered for the National Service Scheme (NSS) under the Environment section,
              <br>actively contributing to create a greener and healthier ecosystem.
              <br> Planted and maintained plants, removed dead ones and took care of them.
              <br> Conducted seminars with students & engaged surrounding community ( including kids and villagers)
              educating them on organic methods of growing plants
              & the benefits of preserving nature.
            </p>
          </div>
        </div>

      </div>

      <!-- Arrows -->
      <button class="carousel-control-prev" type="button" data-bs-target="#experienceCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#experienceCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>