
<section id="experience" class="fullscreen-section">
  <div class="experience-container">

    <!-- <h2 class="section-heading">Experience</h2> -->

    <div id="experienceCarousel" class="carousel slide">
      <div class="carousel-inner">

        <!-- Slide 1 -->
        <div class="carousel-item active">
          <div class="experience-box">
            <h4>Full Stack Web Developer – OSI Digital</h4>
            <p><strong>Aug 2021 – Aug 2023</strong></p>
            <p>Built full-stack web apps using Angular, Spring Boot, Node.js and Sql. 
              <br>Developed secure REST APIs, integrated WebSocket for real-time features <br>and optimized SQL queries for performance.</p>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item">
          <div class="experience-box">
            <h4> Project: Currency Exchange Platform </h4>
            <p><strong>Tech Stack:</strong> Angular, Java, SQL</p>
            <p>Developed a secure currency exchange platform<br> with real-time rate updates for transparent currency conversions, 
              <br> Responsive and interactive frontend optimized with lazy loading. </p>
          </div>
        </div>

        <!-- Slide 3 -->
           <div class="carousel-item">
          <div class="experience-box">
            <h4> Project: CoInnovator (Q&A platform) </h4>
            <p><strong>Tech Stack:</strong> Angular, NodeJs, SQL</p>
            <p>Developed a strong question and answer platform <br> for innovative tech problems with a premium subscription model
              <br> which is enabled with role based access control (RBAC) </p>
          </div>
        </div>

        <!-- Slide 4 -->
        <div class="carousel-item">
          <div class="experience-box">
            <h4>Technical Assistant – Dining Services</h4>
            <p><strong>Sep 2023 – May 2025 | EIU</strong></p>
            <p>Delivered tech support for POS and payroll systems. Selected as Lead Cashier. Handled register errors, supported inventory systems and mentored peers.</p>
          </div>
        </div>

        
        <!-- Slide 5 -->
        <div class="carousel-item">
          <div class="experience-box">
            <h4>Volunteer – NSS (National Service Scheme)</h4>
            <p>
            Volunteered for the National Service Scheme (NSS) under the Environment section, 
            <br>actively contributing to create a greener and healthier ecosystem. 
            <br> Planted and maintained plants, removed dead ones and took care of them. 
            <br> Conducted seminars with students & engaged surrounding community ( including kids and villagers) educating them on organic methods of growing plants 
            & the benefits of preserving nature. 
            </p>
          </div>
        </div>

      </div>

      <!-- Arrows -->
      <button class="carousel-control-prev" type="button" data-bs-target="#experienceCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#experienceCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>
