<section id="testimonials" class="sticky-testimonials">
  <h2 class="section-heading">Testimonials</h2>
   I always love to hear feedback or support. Here are some of the feedbaks I've received. 
    <br>If you have any feedback, feel free to drop me an email at <strong>chatlaakash.1&#64;gmail.com. </strong>
    <br><br>
  <div class="note-grid">
    <div class="note lavender">
      <p>"I have no doubt that Akash will be a tremendous asset to any organization, thanks to his exceptional
        adaptability and strong work ethic."</p>
      <h5>– Chris Coffey, <br>Associate Director of Housing and Dining, EIU</h5>
    </div>
    <div class="note blue">
      <p>"He carried himself as a true leader, his performance is a reap to any team fortunate enough to have him."</p>
      <h5>– Jeff S Cranstoun, <br> Professor,<br>School of Technology, EIU. </h5>
    </div>

    <div class="note pink">
      <p>"Akash has been a model of consistency, routinely offering expertise and support well beyond his job
        requirements."</p>
      <h5>– John D. Boyer, Supervisor <br> EIU Dining Services</h5>
    </div>
    <div class="note peach">
      <p>"Akash always stood out with his logical mindset, active participation, and collaborative spirit.
        His consistent curiosity and drive to connect with technology made him truly exceptional"</p>
      <h5>– Naima Toqeer Israr <br> Instructor, <br> School of Technology, EIU</h5>
    </div>



    <div class="note green">
      <p>"Throw Akash into the middle of a deep ocean — he won’t just survive, he’ll lead his way out. That’s the kind
        of resourceful and determined person he is"</p>
      <h5>– Srikanth, HOD, CSE<br>Pydah College of Engineering and Technology.</h5>
    </div>


    <div class="note yellow">
      <p>"You will always be remembered for your dedication, enthusiasm, and on-time responsiveness."</p>
      <h5>– Manoj Devireddy, <br>Senior Vice President,OSI Digital.</h5>
    </div>

<!-- <div class="note cream">
  <p>"For full letters of recommendation from professors and supervisors, click below."</p>
  <a href="/assets/lor1.docx" target="_blank" class="btn btn-sm btn-dark" style="margin-top: 15px;">View LORs</a>
<a href="/assets/lor1.pdf" target="_blank" class="btn">View LORs</a>

</div> -->


  </div>

</section>